*{
	margin: 0px;
	padding: 0px;
}

a{
	color: white;
}
.link:hover{
color: orange;
}

.bgimage{
	background-image: url('a2.jpg');
	background-size: 100% 200%
	width:200%;
	height: 110vh;
}

.menu{
	width: 100%;
	height: 100px;
	background-color:rgba(0,0,0,0.5);
}
.leftmenu{
	width: 30%;
	line-height: 100px;
	float: left;
}
.leftmenu h2{
	padding-left: 200px;
	font-weight: bold;
	color: white;
	font-size: 44px;
	font-family: 'Montserrat',sans-serif;
	font-style: italic;
}
.rightmenu{
	width: 70%;
	height: 100px;
	float: right;

}
.rightmenu ul{
	margin-left:200px;
	
}
.rightmenu ul li{
	font-family: 'Montserrat',sans-serif;
	display: inline-block;
	list-style: none;
	font-size: 15px;
	color: white;font-weight: bold;
	line-height: 100px;
	margin-left: 20px;

}
#firstlist{
	color: white;
}
table{
	margin-left:auto;
	margin-right:auto;
	font-size: 150%;
	margin-top: 30px;
}
